body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 16px;
		min-width: 1170px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

ul, li {
  display: block;
}

.container {
    width: 1170px;
    /*позиционирование по центру*/
    margin: 0px auto;
    height: 10px
}
  
.header {
  background: url('../glavnyyekr.jpg') no-repeat center top;
  padding-top: 35px;
  height: 750px;
}

.header a {
  color:#FFF;
}

.logo {
  position: absolute;
  left: 50px;
  padding-right: 12px;
}

.menu {
  display: flex;
  position: absolute;
  right: 18px;
}


.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  text-transform: none;
  font-size: 26px;
  font-weight: 400;
}

.menu li {
  margin-right: 38px;
}

.nav {
  display: flex;
  align-items: center;
}

.dom {
  width:26px;
}

.menuu{
   width: 26px;
}

.calling{
  width: 26px;
}

.maro {
  position: relative;
    top: 310px;
    margin-left: 420px;
  z-index: 10;
}

.faro {
  position: relative;
    top: 220px;
    margin-left: 590px;
  z-index: 10;
}

.naro{
  position: relative;
  top: 110px;
}
.pepperoni{
  position: relative;
  top: 80px;
    margin-left: 90px;
    width: 325px;
    height: 200px;
    background: #FFFAFA;
    border-radius: 30px;
}
.peppetext h1{
  position: relative;
  margin-left: 150px;
  top: 28px;
  font-size: 16px;
}
.peppetext h2{
  position: relative;
  margin-left: 150px;
    top: 40px;
    font-size: 10px;
    color: #EBD6A0;
}
.imgpeppe{
  position: relative;
    top: -62px;
    margin-left: 10px;
}

.about {
   background: #F6EDD6;
    height: 800px;
}
.imgzakaz{
	position: relative;
	top: -110px;
    margin-left: 150px;
    height: 44px;
}
.cheesy {
  position: relative;
  top: -120px;
    margin-left: 425px;
    width: 325px;
    height: 200px;
    background: #FFFAFA;
    border-radius: 30px;
}
.cheesytext h1{
  position: relative;
  margin-left: 160px;
  top: 28px;
  font-size: 15.5px;
}
.cheesytext h2{
  position: relative;
  margin-left: 160px;
    top: 40px;
    font-size: 10px;
    color: #EBD6A0;
}
.imgcheesy{
  position: relative;
    top: -55px;
    margin-left: -5px;
}
.imgzakaz2 {
	position: relative;
	top: -110px;
    margin-left: 160px;
    height: 44px;
}
.meat {
  position: relative;
  top: -320px;
    margin-left: 759px;
    width: 325px;
    height: 200px;
    background: #FFFAFA;
    border-radius: 30px;
}
.meattext h1{
  position: relative;
  margin-left: 160px;
  top: 28px;
  font-size: 15.5px;
}
.meattext h2{
  position: relative;
  margin-left: 160px;
    top: 40px;
    font-size: 10px;
    color: #EBD6A0;
}
.imgmeat{
  position: relative;
    top: -55px;
    margin-left: 12px;
}
.imgzakaz3 {
	position: relative;
	top: -99px;
    margin-left: 160px;
    height: 44px;
}
.margarita {
  position: relative;
  top: -309px;
    margin-left: 760px;
    width: 325px;
    height: 200px;
    background: #FFFAFA;
    border-radius: 30px;
}
.margatext h1{
  position: relative;
  margin-left: 160px;
  top: 28px;
  font-size: 16px;
}
.margatext h2{
  position: relative;
  margin-left: 160px;
    top: 35px;
    font-size: 10px;
    color: #EBD6A0;
}
.imgmarga {
  position: relative;
    top: -45px;
    margin-left: 15px;
}
.imgzakaz4 {
	position: relative;
	top: -80px;
    margin-left: 160px;
    height: 44px;
}
.arriva {
  position: relative;
  top: -509px;
    margin-left: 425px;
    width: 325px;
    height: 200px;
    background: #FFFAFA;
    border-radius: 30px;
}
.arrivatext h1{
  position: relative;
  margin-left: 158px;
  top: 28px;
  font-size: 16px;
}
.arrivatext h2{
  position: relative;
  margin-left: 158px;
    top: 30px;
    font-size: 10px;
    color: #EBD6A0;
}
.imgarriva{
  position: relative;
    top: -89px;
    margin-left: 5px;
}
.imgzakaz5 {
	position: relative;
	top: -145px;
    margin-left: 158px;
    height: 44px;
}
.gavai {
  position: relative;
  top: -498px;
    margin-left: 760px;
    width: 325px;
    height: 200px;
    background: #FFFAFA;
    border-radius: 30px;
}
.gavaitext h1{
  position: relative;
  margin-left: 170px;
  top: 28px;
  font-size: 16px;
}
.gavaitext h2{
  position: relative;
  margin-left: 170px;
    top: 40px;
    font-size: 10px;
    color: #EBD6A0;
}
.imggavai{
  position: relative;
    top: -35px;
    margin-left: 14px;
}
.imgzakaz6 {
	position: relative;
	top: -77px;
    margin-left: 160px;
    height: 44px;
}
.pesto {
  position: relative;
  top: -698px;
    margin-left: 425px;
    width: 325px;
    height: 200px;
    background: #FFFAFA;
    border-radius: 30px;
}
.pestotext h1{
  position: relative;
  margin-left: 160px;
  top: 28px;
  font-size: 16px;
}
.pestotext h2{
  position: relative;
  margin-left: 160px;
    top: 35px;
    font-size: 9.8px;
    color: #EBD6A0;
}
.imgpesto {
  position: relative;
    top: -62px;
    margin-left: 12px;
}
.imgzakaz7 {
	position: relative;
	top: -100px;
    margin-left: 150px;
    height: 44px;
}
.karbonara {
  position: relative;
  top: -1109px;
    margin-left: 90px;
    width: 325px;
    height: 200px;
    background: #FFFAFA;
    border-radius: 30px;
}
.karbotext h1{
  position: relative;
  margin-left: 155px;
  top: 28px;
  font-size: 15.5px;
}
.karbotext h2{
  position: relative;
  margin-left: 155px;
    top: 30px;
    font-size: 10px;
    color: #EBD6A0;
}
.imgkarbo{
  position: relative;
    top: -70px;
    margin-left: 13px;
}
.imgzakaz8 {
	position: relative;
	top: -110px;
    margin-left: 155px;
    height: 44px;
}
.sezar {
  position: relative;
  top: -1098px;
    margin-left: 90px;
    width: 325px;
    height: 200px;
    background: #FFFAFA;
    border-radius: 30px;
}
.sezartext h1{
  position: relative;
  margin-left: 160px;
  top: 28px;
  font-size: 16px;
}
.sezartext h2{
  position: relative;
  margin-left: 160px;
    top: 32px;
    font-size: 10px;
    color: #EBD6A0;
}
.imgsezar{
  position: relative;
    top: -75px;
    margin-left: 5px;
}
.imgzakaz9 {
	position: relative;
	top: -118px;
    margin-left: 159px;
    height: 44px;
}
p {
color: #D44D13;
font-weight: 400;
line-height: 2px;
}
.noga{
	background: #000;
}
.footer{
	    width: 100%;
    height: 250px;
    background: #232323;
    padding: 0;
}
.insta{
	position: relative;
	top: 40px;
	margin-left: 430px;
}
.telegram {
	position: relative;
	top: 40px;
	margin-left: 50px
}
.whatsapp{
	position: relative;
	top: 40px;
	margin-left: 50px;
}
.prava{
	position: relative;
	top: 80px;
	margin-left: 350px;
}
footer a{
	color: #FFF;
}
.tel1{
	position: relative;
	top: 27px;
	margin-left: 600px;
}
.tel2{
	position: relative;
	top: 35px;
	margin-left: 600px;
}


* {
  box-sizing: border-box;
  text-decoration: none;
}

.box {
  transition: 0.3s;
}


.box:hover {
  transform: scale(0.9);
}
